/* Work Sans Font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Style */

.btn-primary {
    background-color: #FF900E;
    border-radius: 10px;
    padding: 15px 20px;
    color: white;
    border: none;
    font-size: 1.25rem;
    margin: 20px 0;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: green;
}

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.text-light-gray {
    color: var(--Dark-03, #727272);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.section-title {
    font-size: 2.8rem;
    color: var(--Dark-01, #131313);
    text-align: left;
    font-weight: 700;
}


/* header style */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav>ul>li>a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding-top: 80px;

}


.banner-content p{
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--Dark-01, #131313);
    padding-bottom: 20px;
}



.banner img {
    width: 100%;
    padding-top: 40px;
}




/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    display: flex;
    align-items: center;

}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    padding: 80px 40px 80px 160px;

}

.teams-content {
    padding-right: 160px;
}

.teams-title {
    font-size: 2.8rem;
    padding-bottom: 20px;
}

.quick-list {
    color: var(--Dark-03, #727272);
    font-weight: 500;
}

.of-our {
    color: var(--Dark-01, #131313);
    font-weight: 700;
}

.features-span{
    color: #FF900E;
    font-weight: 700;
}


/* facts section */


.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

.facts-head-content {
    margin-left: 120px;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
}

.facts-card-container .card-stats {
    font-size: 2rem;
    color: var(--Dark-02, #424242);
    font-weight: 600;

}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    /* margin: 5px; */
}


/* sponsors style */

.sponsor {
    margin-top: 70px;
}

.sponsor h3 {
    padding-bottom: 20px;
}

.sponsor p {
    padding-bottom: 50px;
    text-align: center;
}

.sponsor h3,
p {
    text-align: center;
}

.sponsor-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
    gap: 40px;
}


/* feature section */

.features {
    display: flex;
    margin-top: 120px;
    margin-bottom: 100px;
    gap: 10px;
    width: 90%;
}

.feature-content {
    margin-left: 130px;
    
}

.feature-content .feature-card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin: 20px 0;
    padding: 20px;
}

.feature-img img{
    width: 100%;
    margin-left: 80px;
}

.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: white;
    width: 342px;
    padding: 40px 10px;
    text-align: center;
    position: relative;
    bottom: 100px;
}


.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
    
}

.ten-years-badge p{
    font-size: 1.5rem;
}

.feature-content h3{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    

}

.section-title-description{
    padding-top: 30px;
}


/* footer style */


footer{
    margin: 100px 140px;
    border-radius: 8px;
    background: #FFF4E7;
    padding: 20px 40px;
    color: var(--Dark-02, #424242);
    font-size: 1rem;
}

/* Responsive media quires */

/* mobile devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container, .features ,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .nav-title {
        text-align: center;
    }

    nav>ul>li {
        margin-right: 20px;
        font-weight: 500;
        font-size: 1rem;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding: 10px;


    }

    .teams-content {
        padding: 20px 65px;
    }

    .facts-head-content {
        margin-left: 60px;
    }

    .sponsor-img-container img {
        width: 165px;
        height: 50px;


    }

    .ft-mobile{
        margin-left: 20px;
    }

    .feature-img img{
        width: 100%;
    }

    .ten-years-badge{
        margin-bottom: -90px;
    }

    footer{
        margin: 10px;
    }
}

/* Tablet or medium devices */


@media screen and (min-width:576px) and (max-width:960px) {

    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .sponsor-img-container , .features {
        flex-direction: column;
    }

    nav>ul>li {
        margin-right: 20px;
        font-weight: 500;
        font-size: 1rem;
    }

    .teams-img-container {
        padding: 20px;
        margin-top: 50px;
    }

    .teams-content {
        padding: 20px 90px;
    }

    footer{
        margin: 10px;
    }
}


}